@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";

#root {
  max-width: 100vw;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
