:root {
  font-family: 'Goldman', 'Orbitron', 'Roboto', 'Segoe UI', Arial, sans-serif;
  line-height: 2.5;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --primary-color: #1eff8f96;
}