PORT=3000
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/ravepass
JWT_SECRET=your_super_secret_jwt_key
EMAIL_USER=your_gmail_address@gmail.com
EMAIL_PASS=your_16_character_gmail_app_password
FRONTEND_URL=http://localhost:5173
SERVER_URL=http://localhost:3000
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
